
@{
    ViewData["Title"] = "Search";
}

<div class="container">
    <div class="col-md-10 offset-1">
        <form asp-action="Search">
            <div class="mb-3">
                <label>Search(Title,Content)</label>
                <input name="searchText" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

